
<div id="sidebar_main" class="col-xs-3 col-xs-2 sidebar" >

  <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title" style="color:#000000">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="" ng-transclude></div>
    </div>
  </script>

  <uib-accordion close-others="oneAtATime">

    <div uib-accordion-group class="panel-default" heading="商品分類" is-open="$ctrl.status.isItemCategoryOpen" template-url="group-template.html">
      <div ng-repeat="item in $ctrl.category">
        <uib-accordion-heading>
          商品分類 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.status.isItemCategoryOpen, 'glyphicon-chevron-right': !$ctrl.status.isItemCategoryOpen}"></i>
        </uib-accordion-heading>
        {{item}}
      </div>
      <p>and more</p>
    </div>

    <h4>レビューの絞り込み</h4>
    <div uib-accordion-group class="panel-default" heading="商品評価" is-open="$ctrl.status.isItemReviewOpen" template-url="group-template.html">
      <div ng-repeat="item in $ctrl.stars">
        <uib-accordion-heading>
          商品評価 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.status.isItemReviewOpen, 'glyphicon-chevron-right': !$ctrl.status.isItemReviewOpen}"></i>
        </uib-accordion-heading>
        {{item}}
      </div>
    </div>

    <div uib-accordion-group class="panel-default" heading="地域別" is-open="$ctrl.status.isSiteOpen" template-url="group-template.html">
      <div ng-repeat="item in $ctrl.site">
        <uib-accordion-heading>
          地域別 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.status.isSiteOpen, 'glyphicon-chevron-right': !$ctrl.status.isSiteOpen}"></i>
        </uib-accordion-heading>
        {{item}}
      </div>
    </div>

    <div uib-accordion-group class="panel-default" heading="性別" is-open="$ctrl.status.isSexOpen" template-url="group-template.html">
      <div ng-repeat="item in $ctrl.sex">
        <uib-accordion-heading>
          性別 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.status.isSexOpen, 'glyphicon-chevron-right': !$ctrl.status.isSexOpen}"></i>
        </uib-accordion-heading>
        {{item}}
      </div>
    </div>

  </uib-accordion>
</div>
